{% extends "mailerApp/base.html" %}
{% block title %}  {% endblock %}

{% block content %}
<div>

  <form action="/send/" method="post">
  {% csrf_token %}
    <label for="exampleFormControlInput">Email address</label>

    <input type="email" id="exampleFormControlInput"  name="email">

    <label for="exampleFormControlTextarea2">Subject</label>
    <input class="form-control" class="form-control" id="exampleFormControlTextarea2" name="subject">
    <label for="exampleFormControlTextarea1">Body</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="contents"></textarea>
 <div class="btn" >
     <button type="submit" class="btn btn-success">Send</button>
 </div>
  </form>

    <br>
        <div class="float-right btn">
            <form action="/add_draft/"  method="post" class="form-inline">
           {% csrf_token %}
            <a href="{% url 'add_draft' %}">
                <button  type="submit" class="btn btn-success">Draft</button> </a>
      </form>
            </div>

<!--  Saving Drafts --->


        </div>

{% endblock %}